.idea/
.vscode/
/GymNest-IS/api-gateway/node_modules
/GymNest-IS/booking-service/node_modules
/GymNest-IS/frontend/node_modules
/GymNest-IS/membership-service/node_modules
/GymNest-IS/user-management-service/node_modules
